<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav>
    <div><a th:href="@{/}">← Ко всем объявлениям</a></div>
</nav>

<h1>Регистрация</h1>

<div class="error" th:if="${usernameTaken}">Такой логин уже занят.</div>

<form th:action="@{/register}" method="post" th:object="${registrationForm}">
    <label>Логин</label>
    <input type="text" th:field="*{username}">
    <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

    <label>Пароль</label>
    <input type="password" th:field="*{password}">
    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

    <label>Телефон</label>
    <input type="text" th:field="*{phone}">
    <div class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>

    <button type="submit">Зарегистрироваться</button>
</form>

</body>
</html>
